@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
body { 
  font-family: 'Montserrat', sans-serif;
}
.author, .date {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.slide.titlepage {
  color: #000000;
  font-size: 200%;
  font-weight: bold;
  background-color: #75988d; 
}
blockquote {
  background: #FFFFFF;
  color: #000;
  border-left: 5px solid #ffcb05;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
img {
  max-width: 30%;
  height: auto;
}
pre {
  color: black;
  background-color: white;
  border: 2px solid grey;
  border-left: 5px solid #A5A508;
}
p.caption { 
  display: block;
  color: darkgreen;
  font-weight: bold;
}
table, th, td {
  border: 1px solid #A5A508;
}
